<launch>
  <node pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver">
    <param name="port" value="/dev/ttyACM1" />
    <param name="baud_rate" value="115200" />
  </node>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find myahrs_driver)/rviz_cfg/imu_test.rviz" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_map_broadcaster" args="0 0 0 0 0 0 world map"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom_broadcaster" args="0 0 0 0 0 0 map odom"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_base_link_broadcaster" args="0 0 0 0 0 0 odom base_link"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu_link_broadcaster" args="0 0 0.205 0 0 0 base_link imu_link"/>

</launch>
